.lmj-cart {
    position: sticky;
    top: 0px;
    float: right;
    height: 100vh;
    color: white;
    background-color: #31b572;
    display: flex;
    justify-content: flex-start;
    width: 35px;
    transition: width 0.5s;
}

.cartToggle {
    height: 100%;
    width: 35px;
    max-width: 35px;
    background-color: #299860;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cartContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    white-space: nowrap;
    width: 100%;
    /* max-width: 190px; */
}

.open {
    width: 300px;
}


.cartToggle svg {
    filter: invert(0);
    width: 20px;
    height: 30px;
}

.cartToggle svg:first-child {
    position: absolute;
    top: 20px;
}

.nbPlantsinCart {
    position: absolute;
    top: 55px;
    background-color: rgb(201, 44, 60);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.nbPlantsinCart p {
    position: relative;
    top: -18px;
    left: 6px;
}

.open .cartToggle svg:last-child {
    transform: rotate(180deg);
}

.cartContent .text-align-center:first-child {
    margin-top: 90px;
    background-color: red !important;
}

.text-align-center {
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    padding: 15px;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}


.deleteBtn {
    position: relative;
    top: 2px;
    left: 10px;
    margin-left: 5px;
    color: red;
    cursor: pointer;
}